.title {
	font-size: 4em;
	margin-top: 20%;
}

.desc {
	font-size: 2em;
	font-weight: 100;
}

.link {
	text-decoration: none;
	color: var(--bg-color);
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

.wd-60 {
	width: 60%;
}
.wd-40 {
	width: 40%;
}

.hero {
	width: 50em;
	height: 50em;
	max-width: 100%;
}

.subscribe {
	align-items: center;
}
.subs-btn {
	margin-left: 1em;
}