:root {
	--bg-color: #263238;
	--primary-color: #eceff1;
	--secondary-color: #004d40;
	--content-margin: 100em;
}
html {
	font-family: sans-serif;
}

body {
	background-color: var(--bg-color);
	padding: 4em;
	max-width: var(--content-margin);
	color: var(--primary-color);
	margin: 0 auto;
}
.txt-cen {
	text-align: center;
}